# Ambiente virtual
.venv/

# Python
__pycache__/
*.pyc
*.pyo
.pytest_cache/

# Datos y outputs (no subimos archivos generados)
data/
output/

# VS Code
.vscode/

# Sistema operativo
Thumbs.db
.DS_Store